<%- include("partials/header") -%>

<% if(authentication == true) {%>
  <%- include("partials/afterLoginNavbar") -%>
<% } else { %>
  <%- include("partials/beforeLoginNavbar") -%>
<% } %>

<h1><%=Clubname%></h1>

<p><%= Description %></p>

<a href="">Join</a>

<%- include("partials/footer") -%>